In [1]:
! pip install ollama mysql-connector-python transformers torch nltk

Requirement already satisfied: ollama in ./venv/lib/python3.12/site-packages (0.3.3)
Requirement already satisfied: mysql-connector-python in ./venv/lib/python3.12/site-packages (9.0.0)
Requirement already satisfied: transformers in ./venv/lib/python3.12/site-packages (4.44.2)
Requirement already satisfied: torch in ./venv/lib/python3.12/site-packages (2.4.1)
Requirement already satisfied: nltk in ./venv/lib/python3.12/site-packages (3.9.1)
Requirement already satisfied: httpx<0.28.0,>=0.27.0 in ./venv/lib/python3.12/site-packages (from ollama) (0.27.2)
Requirement already satisfied: filelock in ./venv/lib/python3.12/site-packages (from transformers) (3.16.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.23.2 in ./venv/lib/python3.12/site-packages (from transformers) (0.25.0)
Requirement already satisfied: numpy>=1.17 in ./venv/lib/python3.12/site-packages (from transformers) (2.1.1)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.12/site-packages (from transformers) (24.1)
Requirement already satisfied: pyyaml>=5.1 in ./venv/lib/python3.12/site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in ./venv/lib/python3.12/site-packages (from transformers) (2024.9.11)
Requirement already satisfied: requests in ./venv/lib/python3.12/site-packages (from transformers) (2.32.3)
Requirement already satisfied: safetensors>=0.4.1 in ./venv/lib/python3.12/site-packages (from transformers) (0.4.5)
Requirement already satisfied: tokenizers<0.20,>=0.19 in ./venv/lib/python3.12/site-packages (from transformers) (0.19.1)
Requirement already satisfied: tqdm>=4.27 in ./venv/lib/python3.12/site-packages (from transformers) (4.66.5)
Requirement already satisfied: typing-extensions>=4.8.0 in ./venv/lib/python3.12/site-packages (from torch) (4.12.2)
Requirement already satisfied: sympy in ./venv/lib/python3.12/site-packages (from torch) (1.13.3)
Requirement already satisfied: networkx in ./venv/lib/python3.12/site-packages (from torch) (3.3)
Requirement already satisfied: jinja2 in ./venv/lib/python3.12/site-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in ./venv/lib/python3.12/site-packages (from torch) (2024.9.0)
Requirement already satisfied: setuptools in ./venv/lib/python3.12/site-packages (from torch) (75.1.0)
Requirement already satisfied: click in ./venv/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in ./venv/lib/python3.12/site-packages (from nltk) (1.4.2)
Requirement already satisfied: anyio in ./venv/lib/python3.12/site-packages (from httpx<0.28.0,>=0.27.0->ollama) (4.6.0)
Requirement already satisfied: certifi in ./venv/lib/python3.12/site-packages (from httpx<0.28.0,>=0.27.0->ollama) (2024.8.30)
Requirement already satisfied: httpcore==1.* in ./venv/lib/python3.12/site-packages (from httpx<0.28.0,>=0.27.0->ollama) (1.0.5)
Requirement already satisfied: idna in ./venv/lib/python3.12/site-packages (from httpx<0.28.0,>=0.27.0->ollama) (3.10)
Requirement already satisfied: sniffio in ./venv/lib/python3.12/site-packages (from httpx<0.28.0,>=0.27.0->ollama) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in ./venv/lib/python3.12/site-packages (from httpcore==1.*->httpx<0.28.0,>=0.27.0->ollama) (0.14.0)
Requirement already satisfied: MarkupSafe>=2.0 in ./venv/lib/python3.12/site-packages (from jinja2->torch) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in ./venv/lib/python3.12/site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.12/site-packages (from requests->transformers) (2.2.3)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in ./venv/lib/python3.12/site-packages (from sympy->torch) (1.3.0)

In [204]:
import mysql.connector
import ollama
from sklearn.metrics.pairwise import cosine_similarity
from transformers import BertTokenizer, BertModel
import nltk
from nltk.corpus import stopwords

In [205]:
# Download the stopwords if you haven't done so
nltk.download('stopwords')

# Get the list of English stop words
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hareeshsenthil/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [206]:
# Step 1: Connect to MySQL database and extract schema
database = "VenueScope"

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Karaikudi-630002",
    database=database
)
cursor = db.cursor()

query = f"""
SELECT 
    TABLE_NAME, 
    COLUMN_NAME 
FROM 
    INFORMATION_SCHEMA.COLUMNS 
WHERE 
    TABLE_SCHEMA = '{database}'
ORDER BY 
    TABLE_NAME, ORDINAL_POSITION;
"""
cursor.execute(query)
schema_columns = cursor.fetchall()

In [207]:
# Step 2: Process schema to extract table and column names
schema_info = {}
for table_name, column_name in schema_columns:
    if table_name not in schema_info:
        schema_info[table_name] = []
    schema_info[table_name].append(column_name)

# Load BERT model and tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

# Helper function to get BERT embeddings
def get_bert_embeddings(text):
    inputs = tokenizer(text, return_tensors="pt", padding=True, truncation=True)
    outputs = model(**inputs)
    embeddings = outputs.last_hidden_state.mean(dim=1).detach().numpy()  # Use mean pooling for sentence embeddings
    return embeddings

/Users/hareeshsenthil/PW1/venv/lib/python3.12/site-packages/transformers/tokenization_utils_base.py:1601: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be depracted in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

In [208]:
def extract_keywords(query):
    """
    Extract keywords from the query while removing stop words.
    """
    words = query.lower().split()  # Simple tokenization
    keywords = [word for word in words if word not in stop_words]
    return keywords

In [209]:
# Step 3: Convert table and column names to BERT embeddings
def get_schema_embeddings(schema_info):
    """
    Convert schema information (table and column names) into BERT embeddings.
    """
    schema_embeddings = []
    table_keys = []
    
    for table, columns in schema_info.items():
        for column in columns:
            text = f"{table} {column}"
            embedding = get_bert_embeddings(text)
            schema_embeddings.append(embedding)
            table_keys.append(table)
    
    return schema_embeddings, table_keys

schema_embeddings, table_keys = get_schema_embeddings(schema_info)

In [210]:
def get_query_embedding(user_query):
    """
    Convert user query into BERT embeddings.
    """
    return get_bert_embeddings(user_query)

In [211]:
def rank_schemas_v2(user_keywords, schema_info, user_query_embedding, schema_embeddings, table_keys):
    """
    Rank schema tables based on substring matching and BERT embeddings.
    Priority is given to matches of user keywords, with embeddings as a secondary score.
    """
    # Initialize scores
    table_scores = {}

    # Extract relevant keywords from the user query
    relevant_keywords = set(keyword.lower() for keyword in user_keywords)

    # Step 1: Apply string matching to prioritize relevant tables
    for table in schema_info:
        columns = schema_info[table]
        table_lower = table.lower()

        # Boost for matches of relevant keywords in table name
        for keyword in relevant_keywords:
            if keyword in table_lower:
                table_scores[table] = table_scores.get(table, 0) + 2
        
        # Boost for matches of relevant keywords in column names
        for column in columns:
            for keyword in relevant_keywords:
                if keyword in column.lower():
                    table_scores[table] = table_scores.get(table, 0) + 2  # Adjust boost as needed

    # Step 2: Apply embedding similarity as secondary ranking factor
    for i, table in enumerate(table_keys):
        similarity_score = cosine_similarity(user_query_embedding, schema_embeddings[i]).flatten()[0]
        table_scores[table] = table_scores.get(table, 0) + similarity_score

    # Step 3: Sort the tables based on the combined score (higher is better)
    ranked_tables = sorted(table_scores.keys(), key=lambda x: table_scores[x], reverse=True)

    # Step 4: Remove duplicates, maintaining order
    unique_ranked_tables = []
    seen_tables = set()
    for table in ranked_tables:
        if table not in seen_tables:
            unique_ranked_tables.append(table)
            seen_tables.add(table)

    return unique_ranked_tables

In [212]:
# Step 6: Construct SQL query dynamically based on top-ranked table and columns
def construct_sql_query(ranked_table_names, schema_info, user_query, top_n):
    """
    Construct SQL query dynamically using Ollama based on top n-ranked tables and the user's query.
    """
    # Get the top n-ranked tables
    top_ranked_tables = ranked_table_names[:top_n]
    
    # Collect schema information for the top-ranked tables
    schema_info_str = ""
    for table in top_ranked_tables:
        columns = schema_info[table]
        schema_info_str += f"Table {table}: Columns ({', '.join(columns)})\n"

    # Pass the schema info and user query to Ollama
    stream = ollama.chat(
        model='duckdb-nsql',
        messages=[{'role': 'user', 'content': f"This is the schema: \n{schema_info_str}\n{user_query}"}],
        stream=True,
    )

    response = ""
    for chunk in stream:
        response += chunk['message']['content']

    return response


# top_n = 2  # Set how many top-ranked tables to include
# Get the response from Ollama based on the user's query and ranked schema
# ollama_query = construct_sql_query(ranked_table_names, schema_info, user_query, top_n)
# print("Ollama SQL Query:", ollama_query)

In [213]:
# Step 1: Modify ranking to consider foreign keys and relationships
def get_foreign_key_relations(cursor, schema_info, database):
    """
    Extract foreign key relationships from the INFORMATION_SCHEMA for the given database.
    Returns a dictionary mapping tables to their related tables via foreign keys.
    """
    foreign_key_query = f"""
    SELECT 
        TABLE_NAME, 
        COLUMN_NAME, 
        REFERENCED_TABLE_NAME, 
        REFERENCED_COLUMN_NAME
    FROM 
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE 
    WHERE 
        TABLE_SCHEMA = '{database}' 
        AND REFERENCED_TABLE_NAME IS NOT NULL;
    """
    
    cursor.execute(foreign_key_query)
    foreign_keys = cursor.fetchall()
    
    fk_relations = {}
    for table, column, ref_table, ref_column in foreign_keys:
        if table not in fk_relations:
            fk_relations[table] = []
        fk_relations[table].append((column, ref_table, ref_column))
    
    return fk_relations

In [214]:
from sklearn.metrics.pairwise import cosine_similarity

def rank_columns_by_relevance(user_query_embedding, column_names, column_embeddings):
    """
    Compare user query embedding with column embeddings and rank columns based on relevance.
    """
    column_scores = []
    user_query_embedding = user_query_embedding.reshape(1, -1)  # Reshape user query embedding to 2D

    for column, embedding in zip(column_names, column_embeddings):
        embedding = embedding.reshape(1, -1)  # Reshape column embedding to 2D
        # Compute similarity between the user query and each column embedding (cosine similarity)
        similarity_score = cosine_similarity(user_query_embedding, embedding)[0][0]  # Extract scalar
        column_scores.append((column, similarity_score))

    # Sort columns by relevance (higher similarity score first)
    column_scores.sort(key=lambda x: x[1], reverse=True)
    return column_scores



def construct_and_execute_query(cursor, ranked_table_names, schema_info, user_query, top_n, max_attempts=5):
    """
    retry_construct_and_execute_query_with_column_reranking
    For each top_n ranked table, rank its columns by relevance to the user query,
    re-rank tables based on the relevance of columns, and generate SQL query if relevant.
    """
    attempt = 0
    success = False
    ollama_query = ""
    user_query_embedding = get_bert_embeddings(user_query)  # Embed the user's query

    while not success and attempt < max_attempts:
        try:
            # Increment attempt count
            attempt += 1
            print(f"Attempt {attempt} to generate and execute the query...")

            # Iterate over top-ranked tables to find the most relevant column match
            for table_name in ranked_table_names[:top_n]:
                column_names = schema_info[table_name]  # Get columns for the table
                column_embeddings = get_bert_embeddings(column_names)  # Embed the column names

                # Rank columns based on their relevance to the user's query
                ranked_columns = rank_columns_by_relevance(user_query_embedding, column_names, column_embeddings)
                print(f"Ranked columns for table {table_name}: {ranked_columns}")

                # Check if the top-ranked column has sufficient relevance
                top_column, relevance_score = ranked_columns[0]
                print(f"Top column: {top_column}, Relevance score: {relevance_score}")

                if relevance_score > 0.5:  # Threshold for relevance (can be adjusted)
                    print(f"Proceeding with table {table_name} and top column {top_column}")

                    # Generate SQL query using Ollama with the relevant table and columns
                    ollama_query = construct_sql_query([table_name], schema_info, user_query, top_n=1)
                    print("Generated Query from Ollama:", ollama_query)

                    # Try executing the query
                    cursor.execute(ollama_query)
                    results = cursor.fetchall()
                    success = True  # Mark success if query executes successfully
                    break
                else:
                    print(f"Relevance score too low for table {table_name}. Trying the next table...")

        except mysql.connector.Error as err:
            print(f"Query execution failed with error: {err}")
            print("Re-ranking columns and trying the next table...")

    # If successful, return the results
    if success:
        print("Query executed successfully!")
        return results
    else:
        print(f"Failed after {max_attempts} attempts.")
        return None

In [215]:
def get_foreign_keys(cursor, schema_info):
    """
    Extract foreign key relationships for the tables in schema_info.
    """
    foreign_keys = {}
    for table in schema_info.keys():
        cursor.execute(f"""
            SELECT 
                COLUMN_NAME, 
                REFERENCED_TABLE_NAME, 
                REFERENCED_COLUMN_NAME
            FROM 
                INFORMATION_SCHEMA.KEY_COLUMN_USAGE
            WHERE 
                TABLE_NAME = '{table}' AND 
                TABLE_SCHEMA = 'your_database_name' AND 
                REFERENCED_TABLE_NAME IS NOT NULL;
        """)
        foreign_keys[table] = cursor.fetchall()
    return foreign_keys


def construct_sql_query_for_ollama(top_tables, schema_info, user_query):
    """
    Construct SQL query using schema information for the top tables.
    """
    schema_info_str = ""
    for table in top_tables:
        columns = schema_info[table]
        schema_info_str += f"Table {table}: Columns ({', '.join(columns)})\n"

    # Prepare the final query for Ollama
    query_for_ollama = f"{schema_info_str}\n{user_query}"
    return query_for_ollama

In [216]:
def getQueriesFromFile(file_path):
    """
    Read the queries from a file and generate BERT embeddings for each.
    """
    print("Reading file...")
    queries = []
    
    # Open the file and read queries
    with open(file_path, 'r') as file:
        queries = file.readlines()
    
    print(f"Total lines read: {len(queries)}")
    
    # Generate embeddings for each query
    for i in range (len(queries)):
        queries[i] = queries[i].strip()  # Remove any leading/trailing whitespace
    
    return queries

# Assuming the queries are in 'queries.txt' file
file_path = 'queries.txt'
queries = getQueriesFromFile(file_path)

Reading file...
Total lines read: 3

In [217]:
# Set the maximum number of attempts for executing the query
max_attempts = 5
top_n = 2  # Adjust the number of top tables as needed

for query in queries:
    print(top_n)
    user_keywords = extract_keywords(query)
    user_query_embedding = get_bert_embeddings(query)

    # Rank schema tables based on query relevance and uniqueness
    ranked_table_names = rank_schemas_v2(user_keywords, schema_info, user_query_embedding, schema_embeddings, table_keys)
    print(ranked_table_names)

    top_tables_after_re_ranking = ranked_table_names[:top_n]  # Get the top tables after re-ranking

    # Retry logic for generating and executing the query
    attempt = 0
    success = False
    while not success and attempt < max_attempts:
        attempt += 1
        try:
            print(f"Attempt {attempt} to generate and execute the query...")
            top_n += 1
            top_tables_after_re_ranking = ranked_table_names[:top_n]  # Get the top tables after re-ranking

            # Construct the query for Ollama
            ollama_query = construct_sql_query_for_ollama(top_tables_after_re_ranking, schema_info, query)

            # Pass this to Ollama for query generation
            stream = ollama.chat(
                model='duckdb-nsql',
                messages=[{'role': 'user', 'content': ollama_query}],
                stream=True,
            )

            response = ""
            for chunk in stream:
                response += chunk['message']['content']

            # Execute the generated SQL query
            cursor.execute(response)
            results = cursor.fetchall()

            # If successful, print results and mark success
            success = True
            print(query)
            print(response, results)
            print()
            if success:
                top_n = 2

        except mysql.connector.Error as err:
            print(f"Query execution failed with error: {err}")
            print("Retrying...")  # Log the retry

        except Exception as e:
            print(f"An unexpected error occurred: {e}")
            print("Retrying...")  # Log the retry

    if not success:
        print(f"Failed to execute query after {max_attempts} attempts.")

2
['club_list', 'club_head_details', 'club_head', 'booked_venue', 'venue_list']
Attempt 1 to generate and execute the query...
List out the details of the club heads from all the clubs
 SELECT * FROM club_head_details
JOIN club_head ON club_head_details.head_id = club_head.head_id; [(1, 'John Doe', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'john_doe@random.com', 28, 1), (2, 'Jane Smith', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'jane_smith@random.com', 27, 2), (3, 'Sam Johnson', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'sam_johnson@random.com', 5, 3), (4, 'Emily Davis', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'emily_davis@random.com', 10, 4), (5, 'Chris Brown', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'chris_brown@random.com', 21, 5), (6, 'Anna Lee', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'anna_lee@random.com', 22, 6), (7, 'Michael White', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'michael_white@random.com', 14, 7), (8, 'Emma Wilson', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'emma_wilson@random.com', 8, 8), (9, 'David Harris', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'david_harris@random.com', 18, 9), (10, 'Sophia Thompson', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'sophia_thompson@random.com', 7, 10), (11, 'James Martin', '9876543210', '$2b$12$ilIxE0u0kOW5zrIPwxOr1OJkhq2LOb/VIpEls08OwL.n7KbmvO03a', 'james_martin@random.com', 11, 11), (12, 'Olivia Taylor', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'olivia_taylor@random.com', 12, 12), (13, 'Benjamin Walker', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'benjamin_walker@random.com', 20, 13), (14, 'Ava Scott', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'ava_scott@random.com', 23, 14), (15, 'Liam Adams', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'liam_adams@random.com', 26, 15), (16, 'Isabella Nelson', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'isabella_nelson@random.com', 25, 16), (17, 'Noah Young', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'noah_young@random.com', 13, 17), (18, 'Mia Allen', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'mia_allen@random.com', 16, 18), (19, 'Lucas Hall', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'lucas_hall@random.com', 1, 19), (20, 'Charlotte King', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'charlotte_king@random.com', 3, 20), (21, 'Mason Wright', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'mason_wright@random.com', 29, 21), (22, 'Amelia Moore', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'amelia_moore@random.com', 2, 22), (23, 'Ethan Green', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'ethan_green@random.com', 6, 23), (24, 'Harper Lewis', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'harper_lewis@random.com', 15, 24), (25, 'Alexander Clark', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'alexander_clark@random.com', 17, 25), (26, 'Abigail Turner', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'abigail_turner@random.com', 24, 26), (27, 'Elijah Baker', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'elijah_baker@random.com', 4, 27), (28, 'Evelyn Phillips', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'evelyn_phillips@random.com', 19, 28), (29, 'Logan Mitchell', '9876543210', '$2b$12$vOZNRAHGOe8ZccVo5rBCAeMLNH/zwYLtsrXfgBgvrRByAPkcQ5Wy.', 'logan_mitchell@random.com', 9, 29)]

2
['booked_venue', 'club_head_details', 'club_list', 'club_head', 'venue_list']
Attempt 1 to generate and execute the query...
Get the names of the clubs starting with the letter 'A'
 SELECT club_name FROM club_list WHERE club_name LIKE 'A%'; [('AeroModeling Club',), ('Animal Welfare Club',), ('Anti Drug Club',), ('Artificial Intelligence & Robotics',), ('Association of Serious Quizzers',), ('Astronomy Club',)]

2
['club_head_details', 'club_head', 'club_list', 'booked_venue', 'venue_list']
Attempt 1 to generate and execute the query...
What is the name of the club where the person with head ID 1 is the head?
 SELECT club_name FROM club_list WHERE club_id = (SELECT club_id FROM club_head WHERE head_id = 1); [('Youth Red Cross Society',)]

In [152]:
results

[('Anna Lee',),
 ('Ava Scott',),
 ('Amelia Moore',),
 ('Alexander Clark',),
 ('Abigail Turner',)]

In [153]:
# Close cursor and database connection
cursor.close()
db.close()